{% extends 'base.html' %}
{% load bootstrap4 %}
{% load crispy_forms_tags %}

{% block title %}{% if form.instance.pk %}Editar{% else %}Crear{% endif %} Cliente{% endblock %}
{% block header %}{% if form.instance.pk %}Editar{% else %}Crear{% endif %} Cliente{% endblock %}

{% block content %}
<div class="card">
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="form-group">
                <button type="submit" class="btn btn-success">Guardar</button>
                <a href="{% url 'clientes:cliente_list' %}" class="btn btn-secondary">Cancelar</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}
